@font-face {
  font-family: 'iconfont';  /* project id 1917260 */
  src: url('https://at.alicdn.com/t/font_1917260_i430ursxuw.eot');
  src: url('https://at.alicdn.com/t/font_1917260_i430ursxuw.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1917260_i430ursxuw.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1917260_i430ursxuw.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1917260_i430ursxuw.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1917260_i430ursxuw.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 48upx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconjiansuo:before {
  content: "\e64d";
}

.iconguanlianpinpaici:before {
  content: "\e775";
}

.iconzidian:before {
  content: "\e808";
}

.iconlishi:before {
  content: "\e602";
}

.iconyidongyunkongzhitaiicon45:before {
  content: "\e74a";
}

.iconyingyongguanli:before {
  content: "\eb67";
}

.iconxitongguanli:before {
  content: "\e652";
}

.iconcanshu:before {
  content: "\e63c";
}

.iconrizhiguanli:before {
  content: "\e60b";
}

.icon86:before {
  content: "\e676";
}

.icondaochu1:before {
  content: "\e6fb";
}

.iconimport:before {
  content: "\e792";
}

.iconshaixuan:before {
  content: "\e609";
}

.iconshouye:before {
  content: "\e600";
}

.iconicon-xt:before {
  content: "\e601";
}

.iconshaixuan1:before {
  content: "\e75e";
}

.iconsousuo:before {
  content: "\e783";
}

.icongaojisousuo:before {
  content: "\e670";
}